body {
	margin: 60px auto;
}

img {
  margin: 0.2em;
}
.nav {
  margin: 0.2em;
}

.nav-link {
	color:black;
  border-bottom: 1px solid #dddddd;
}

.nav-link:hover {
	color: gray;
}

@media (min-width: 767px) {
  .project-title {
    text-align: left;
  }
}
@media (min-width: 767px) {
  .project-title {
    text-align: right;
  }
}

.project-date {
  color: gray;
}
.project-container {
  padding-bottom: 20px;
}

.top-buffer {
  margin-top:20px;
}

.socialIcon {
  display: block;
  margin-bottom: 0.3em;
}

.socialIcon svg {
  height: 2em;
  width: 2em;
  margin-right: 0.3em;
  display: inline-block;
  vertical-align: middle;
}

.socialIcon-title {
  font-size: 1.0em;
  width: 100%;
}

.socialIcon-thumbnail {
  width: 7em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
