body {
	margin: 60px auto;
}

.nav {
  margin: 0.2em;
}

.nav-link {
	color:black;
  border-bottom: 1px solid #dddddd;
}

.nav-link:hover {
	color: gray;
}

.project-title {
  text-align: right;
}
.project-date {
  color: gray;
}

.table-borderless th,
.table-borderless td {
  border:none
}

.table-borderless tr {
  border-top: 1px solid #dddddd;
}

.table-borderless {
  border-collapse: collapse;
}

.table-borderless tr:first-child {
  border-top: none;
}

.table-borderless tr:last-child {
  border-bottom: none;
}

.socialIcon {
  display: block;
  margin-bottom: 0.3em;
}

.socialIcon svg {
  height: 2em;
  width: 2em;
  margin-right: 0.3em;
  display: inline-block;
  vertical-align: middle;
}

.socialIcon-title {
  font-size: 1.0em;
  width: 100%;
}

.socialIcon-thumbnail {
  width: 7em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
